header {

}

body {

}

footer {
	margin-top: 20px;
	padding-top: 10px;
	text-align: center;
	background-color: #F5F5F5;
}

.block {
	background-color: #FFFFFF;
	border-color: #DDDDDD;
	border-radius: 4px 4px 0 0;
	border-width: 1px;
	box-shadow: none;
	margin-left: 0;
	margin-right: 0;
	padding: 15px 15px 15px;
	border-style: solid;
	margin-top: 10px;
}

#manga {
	margin-top: 20px;
}
